.hzclearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.hzclearfix {
	display: inline-block;
}
 
html[xmlns] .hzclearfix {
	display: block;
}
 
* html .hzclearfix {
	height: 1%;
}

.hz-field-wrapper {
	margin-bottom: 5px;
	display: block;
	height: 1%;
}

.hz-field-wrapper:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


.hz-field-wrapper label {
	width: 60px;
	float: left;
	height: 25px;
	line-height: 25px;
	display: inline-block;
}

.hz-field-wrapper input {
	float: left;
	width: 160px;
}

.hz-add-feed {
  display: block;
  text-align: right;
}

.hz-add-feed:hover {
	text-decoration: underline;
	cursor: pointer;
}

.hz-field-wrapper.max-feeds label {
  width: auto;
}

.hz-field-wrapper.max-feeds input {
  width: 40px;
}